DATABASE_URL=postgresql://usuario:contraseña@host/base_de_datos?sslmode=require
IMAGEKIT_PRIVATE_KEY=private_fHkUWbFSagR7qr+mFB7JwUC6Nxc=
IMAGEKIT_PUBLIC_KEY=public_jLk9syOOs/N741bk5KL06Bm6+OM=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/tu_imagekit_id
ADMIN_EMAIL=dueno@storemay.com
ADMIN_PASSWORD=solo-para-crear-el-usuario-eliminala-despues
SESSION_SECRET=genera-un-secreto-aleatorio-de-al-menos-48-caracteres
NEXT_PUBLIC_SITE_URL=https://www.tudominio.com
NEXT_PUBLIC_WHATSAPP_NUMBER=593981944339
SECURITY_CONTACT_EMAIL=security@tudominio.com
